.roomContainer{
  margin: 5rem auto;
  width: 75%;
  .imgList{
    display: flex;
    gap:10px;
    margin-bottom: 1rem;
    div{
      flex: 1;
      .img{
        width: 100%;
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        &:hover{
          cursor: pointer;
          transform: scale(1.02);
        }
      }

    }
  }
  .roomInfoDiv{
    display: flex;
    gap:20px;
    .roomInfo{
      flex:3;
      display: flex;
      gap:10px;
      flex-direction: column;
      .roomDetail{
        border: 1px solid black;
        padding:10px;
        border-radius: 10px;
        gap:10px;
        .cmtInput{
          border-bottom: 1px solid lightgray;
          padding-bottom: 10px;
          .cmtAva{
            width: 4rem;
            height: 4rem;
            border:2px solid var(--PrimaryColor);
            padding: 2px;
            border-radius: 50%;
          }
        }
        .cmtItem{
          display: flex;
          flex-direction: row;
          gap:20px;
          align-items: center;
          margin:10px 0px;
          .cmtAva{
            width: 2rem;
            height: 2rem;
            border:2px solid var(--PrimaryColor);
            padding: 2px;
            border-radius: 50%;
          }
          .cmt{
            border:1px solid lightgray;
            width: 70% ;
            padding:5px 5px;
            border-radius: 10px;
          }
        }

      }
    }
    .roomPrice{
      border-radius: 10px;
      border:1px solid black;
      padding:10px 0px;
      flex:1;
      position: sticky;
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:10px;
      .orderBtn{
        all: unset;
        border-radius: 10px;
        border: 2px solid var(--PrimaryColor);
        color: var(--PrimaryColor);
        padding: 10px;
        width: max-content;
        &:hover{
          background: var(--PrimaryColor);
          color:white;
          cursor: pointer;

        }
      }
    }
  }
}
