<section [ngStyle]="{'background':bgColor? bgColor : 'transparent'}" class="navbarContainer">
  <div routerLink="/" class="logoDiv">
    <h3>
      BOOKINGROOM
    </h3>
  </div>

  <ul class="navbarOtp">
    <li routerLink="/">Trang chủ</li>
    <li>Bookmark</li>
    <li *ngIf="!sharedService.isLogin">
      <button class="navbarBtn">
        Đăng ký
      </button>
    </li>
    <li *ngIf="!sharedService.isLogin">
      <button class="navbarBtn" routerLink="/signin">
        Đăng nhập
      </button>
    </li>
    <li *ngIf="sharedService.isLogin" >
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary navbarBtn" id="dropdownBasic1" ngbDropdownToggle>
          {{sharedService.user.username}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="edit()">Chỉnh sửa</button>
          <button ngbDropdownItem>Phòng đã đặt</button>
          <button ngbDropdownItem (click)="signOut()">Đăng xuất</button>
        </div>
      </div>
    </li>
  </ul>

</section>
