<section class="typeContainer">
  <h1 class="typeTitle">
    Những thành phố du lịch nổi bật
  </h1>
  <div class="typeList">
    <div class="typeItem">
      <img (click)="searchBy(hotel.innerText)" class="typeImg" src="https://res.cloudinary.com/simpleview/image/upload/v1654733490/clients/orlandofl/5900_pool_b92df465-0c67-4161-b8bb-67f9fc301094.jpg" alt="">
      <h2 #hotel class="typeTitle">Hotel</h2>
    </div>
    <div class="typeItem">
      <img (click)="searchBy(homestay.innerText)" class="typeImg" src="https://acihome.vn/uploads/15/thiet-ke-khu-nghi-duong-homestay-dep-mang-lai-suc-hut-du-khach.jpg" alt="">
      <h2 #homestay class="typeTitle">Homestay</h2>
    </div>
    <div class="typeItem">
      <img (click)="searchBy(resort.innerText)" class="typeImg" src="https://ik.imagekit.io/tvlk/blog/2022/10/resort-o-hoa-binh-4.jpg" alt="">
      <h2 #resort class="typeTitle">Resort</h2>
    </div>

  </div>
</section>
