.roomList{
  position: relative;
  .roomPagination{
    position: absolute;
    top: 0px;
    right:13%;
    .paginationBtn{
      all:unset;
      background: var(--PrimaryColor);
      padding:8px;
      border-radius: 50%;
      width: auto;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
