<div class="modal-header">
  <h4 class="modal-title">Chỉnh sửa thông tin</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form class="updateForm" [formGroup]="updateForm">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingUsername" placeholder="username" formControlName="username">
      <label for="floatingUsername">{{user.username}}</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">{{user.email}}</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password" formControlName="password">
      <label for="floatingPassword">{{user.password}}</label>
    </div>
   <div class="formBtn">
     <button type="button" class="btn btn-danger mt-3 mr-3 loginBtn" (click)="activeModal.close('Close click')">Hủy</button>
     <button type="submit" class="btn btn-primary mt-3 loginBtn" (click)="update()">Lưu</button>
   </div>
  </form>
</div>

